@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --primary-color: #E8F9FD;
    --bg-color: #0AA1DD;
}

body{
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2{
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    display: inline-block;
    border: 2px solid var(--primary-color);
    padding: 10px;
    font-size: 4em;
    margin: 20px;
}

.jogar {
    border: none;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 40px;
}